 
<h1>Tous les horaires</h1>
<% schedules.forEach((schedule,index) =>{ %>
    <h1><%= index+1 %>.</h1>
    <p><strong>Travailleur: </strong><%= schedule.user_id %></p>
    <p><strong>Jour: </strong><%= schedule.day%></p>
    <p><strong>Commencer à: </strong><%= schedule.start_at%></p>
    <p><strong>Terminer à: </strong><%= schedule.end_at%></p><br>
<% }) %>   